{% extends "layout.html" %}

{% block title %}
Thank you for trying to sign up!
{% endblock %}

{% block body %}

<form autocomplete="off" form action="{{ url_for('create_f') }}" method="post">

    <div class="row">
      <div class ="col-lg-6">

        <input type="text" name="username_create" placeholder="Please Enter Your New Username">

      </div>
      <div class ="col-lg-6">
        <input type="password" name="password_create" placeholder="Please Enter Your New Password">
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <button class="login_button"style="margin-top:100px;">Submit</button>
      </div>
    </div>
</form>






{% endblock %}
